<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>EasyWeather-每日天气预报</title>
</head>
<body>
   <div style="background-image: linear-gradient(#87CEFA, #E0FFFF); ">
       您好<span th:text="${userName}"/>，<span th:text="${cityName}"/>今天天气为<span th:text="${weather}"/>，气温<span th:text="${temp}"/>℃，有<span th:text="${windPower}"/>级的<span th:text="${windDirection}"/>风，
       湿度为<span th:text="${humidity}"/>%。

       <p>出行着装建议：<span th:text="${wear}"/></p>

       <p>洗车建议：<span th:text="${washcar}"/></p>

       <p>带伞建议：<span th:text="${umbrella}"/></p>

       <p style="font-size: 10px;">
           <i>
               系统邮件请勿回复，来自EasyWeather，由朱锐帆提供支持。
           </i>
       </p>
   </div>

</body>
</html>